html, body { margin: 0; padding: 0;}
#gradient {
	position:absolute;
	height: 100%;
	width: 100%;
	display:none;
}
#gradient-img {
	position:absolute;
	height: 100%;
	width: 100%;
}
a {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 2;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	transition: all 0.25s ease;
}

a:hover {
	cursor: pointer;
	position: fixed;
	bottom: 23px;
}

